@font-face{
    font-family: ProximaNova-Regular;
    src: url(~assets/fonts/ProximaNova-Regular.otf);
}

@font-face{
    font-family: ProximaNova-Semibold;
    src: url(~assets/fonts/ProximaNova-Semibold.otf);
}
